@import "tailwindcss";

@theme {
  /* Paleta principal basada en #28666e */
  --color-brand-50:  #eaf3f4;
  --color-brand-100: #c4e0e3;
  --color-brand-200: #9dcdd1;
  --color-brand-500: #28666e;
  --color-brand-600: #1e535a;
  --color-brand-700: #164045;
  --color-brand-800: #0e2d31;
}
